<div class="search-bar">
    <select id="categorySelect">
        <option value="select">Select Category</option>
        <option value="all">All Categories</option>
        <option value="beverages">Beverages</option>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="dessert">Dessert</option>
    </select>
    <input type="search" name="search" id="customerSearchInput" class="searchInput" placeholder="Please select a category"/>
    <button type="submit" class="searchButton"><img src="/Images/search.png" alt="search"/></button>
   

    <script>
        document.getElementById("categorySelect").addEventListener("change", function() {
            var selectedOption = this.value;
            var searchInput = document.getElementById("customerSearchInput");
            
            if (selectedOption === "all") {
                searchInput.placeholder = "Search All Categories";
            } else if (selectedOption === "select") {
                searchInput.placeholder = "Please select a category";
            } else if (selectedOption === "beverages") {
                searchInput.placeholder = "Search Beverage Items";
            } else if (selectedOption === "breakfast") {
                searchInput.placeholder = "Search Breakfast Items";
            } else if (selectedOption === "lunch") {
                searchInput.placeholder = "Search Lunch Items";
            } else if (selectedOption === "dinner") {
                searchInput.placeholder = "Search Dinner Items";
            } else if (selectedOption === "dessert") {
                searchInput.placeholder = "Search Dessert Items";
            }
        });
    </script>
</div>