<div class="search-bar">
    <select id="categorySelect">
        <option value="select">Select Category</option>
        <option value="All">All Categories</option>
        <option value="Beverages">Beverages</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Dessert">Dessert</option>
    </select>
    <input type="search" name="search" id="customerSearchInput" class="searchInput" placeholder="Please select a category"/>
    <button type="submit" class="searchButton"><img src="/Images/search.png" alt="search"/></button>
   

    <script>
        document.getElementById("categorySelect").addEventListener("change", function() {
            var selectedOption = this.value;
            var searchInput = document.getElementById("customerSearchInput");
            
            if (selectedOption === "All") {
                searchInput.placeholder = "Search All Categories";
            } else if (selectedOption === "Select") {
                searchInput.placeholder = "Please select a category";
            } else if (selectedOption === "Beverages") {
                searchInput.placeholder = "Search Beverage Items";
            } else if (selectedOption === "Breakfast") {
                searchInput.placeholder = "Search Breakfast Items";
            } else if (selectedOption === "Lunch") {
                searchInput.placeholder = "Search Lunch Items";
            } else if (selectedOption === "Dinner") {
                searchInput.placeholder = "Search Dinner Items";
            } else if (selectedOption === "Dessert") {
                searchInput.placeholder = "Search Dessert Items";
            }
        });
    </script>

<script>
    document.getElementById("categorySelect").addEventListener("change", function() {
        var selectedCategory = this.value;
        
        window.location.href = "/menu-items/?category=" + encodeURIComponent(selectedCategory);
    });
</script>




</div>