<div class="search-bar">
    <select id="categorySelect">
        <!-- <option value="Select">Select Category</option> -->
        <option value="All">All Categories</option>
        <option value="Beverages">Beverages</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Dessert">Dessert</option>
    </select>
    <input type="search" name="search" id="customerSearchInput" class="searchInput" placeholder="Please select a category"/>
    <button type="submit" class="searchButton"><img src="/Images/search.png" alt="search"/></button>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function() {

        // Get query parameters
        const urlParams = new URLSearchParams(window.location.search);

        // Get category from parameters
        const selectedCategory = urlParams.get('category');

        const categorySelect = document.getElementById('categorySelect');
        const searchInput = document.getElementById('customerSearchInput');

        // Once a category is selected, set dropdown value & placeholder.

        if (selectedCategory) {
            categorySelect.value = selectedCategory;
            searchInput.placeholder = selectedCategory === 'All' ? 'Search All Categories' : `Search ${selectedCategory} Items`;
        }

        // When category is changed, update placeholder text based on category and redirect user to URL with the selected category as a query parameter.

        categorySelect.addEventListener('change', function() {
            const selectedOption = this.value;
            searchInput.placeholder = selectedOption === 'All' ? 'Search All Categories' : `Search ${selectedOption} Items`;
            window.location.href = "/menu-items/?category=" + encodeURIComponent(selectedOption);
        });

        // When search is clicked, retrieve search input value and  selected category, update these values as query parameters, and redirect user to URL.

        document.querySelector('.searchButton').addEventListener('click', function() {
            const searchInputValue = document.getElementById('customerSearchInput').value;
            const categoryValue = document.getElementById('categorySelect').value;
            const url = `/menu-items/?search=${encodeURIComponent(searchInputValue)}&category=${encodeURIComponent(categoryValue)}`;
            window.location.href = url;
        });
    });
</script>
