<footer>
    <div class="footer">
        
        <div class = "socialmedia">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>&nbsp;
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>&nbsp;
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>                     
        </div>
        <hr/>
        <div class="address">
            <p>123 West Valley Road,</p>
            <p>Corner Brook, NL, A2V 2M2</p>
            <p>Phone: (709) 634-7890</p>
        </div>
        
        © 2024 Corina Jewer & Ellen Dalton  
    </div>
</footer>
