<nav>
    <ul>
        <li><a href='/management'>Home</a></li>
        <li><a href='/management/menu-items'>Product Management</a></li>
        <li><a href='/management/logout'>Logout</a></li>
    </ul>
</nav>