<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <body>      
        <div class="fourohthree">
            <h2>403 - Access Forbidden</h2>
            <a href="#" class="back-button" id="goBack">Go Back</a>
        </div>
        <script>
            document.getElementById("goBack").addEventListener("click", function(event) {
                event.preventDefault(); // Prevent the default behavior of the link
                history.back(); // Navigate back to the previous URL in the history stack
            });
        </script>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>