<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/customerNav.ejs') %>
    <body>
        <div class = "logout">
            <p>Do you want to sign out of your account?</p>
            <a href="/" class="back-button">Logout</a>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>