<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/customerNav.ejs') %>
    <body>
        <div id = "logout">
            DO YOU WANT TO LOGOUT CUSTOMER?
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>