<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/customerNav.ejs') %>
    <body>
        <div class = "logout">
            <p>Do you want to sign out of your account?</p>
            <button class="back-button" id="customerLogout">Logout</button>
        </div>
        <script>
            document.getElementById("customerLogout").addEventListener("click", function(){
                event.preventDefault(); // Prevent default action
                // Send an asynchronous request to the server to clear the session
                fetch('/logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({})
                }).then(response => {
                    if(response.ok){
                        window.location.href = "/";
                    } else {
                        console.error("Logout Failed")
                    }
                }).catch(error => {
                    // Handle any errors
                    console.error('Error during logout:', error);
                });
            });
        </script>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>