<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/customerNav.ejs') %>
    <body>
        <div id="customer-home">
            Welcome to the CUSTOMER Home Page
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>