<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <body>
        <div class = "about">
            <p>Martha's Good Eats restaurant welcomes guests to an unforgettable culinary journey where flavor and freshness take center stage. Nestled in the heart of the Corner Brook, NL,  Martha's exudes warmth and hospitality from the moment patrons step through its doors. With a commitment to quality ingredients and innovative recipes, every meal becomes a cherished memory.</p>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>