<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/staffNav.ejs') %>
    <body>
        <div id="management-home">
            Welcome to the Management Home Page
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>