<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/staffNav.ejs') %>
    <body>
        <div class = "about">
            <p>Welcome to the management platform for Martha's Good Eats! </p>
            <p>Our comprehensive system is designed to streamline menu management for staff, providing an efficient solution for keeping the menu up-to-date with the latest offerings and pricing.</p>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>