<html lang="en">
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <body>
        <div class="nodata">
            <h2>No record was found. Please try again!</h2>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>